.template: &template
  script:
    - python -m pip install .[tests]
    - python -m pytest{% if cookiecutter.notebooks == "Yes" %} --nbval{% endif %}

test-{{ cookiecutter|modname }}-python3.10:
  image: python:3.10
  <<: *template

test-{{ cookiecutter|modname }}-python3.13:
  image: python:3.13
  <<: *template

