name: CI

on:
  # We run CI on pushes to the main branch
  push:
    branches:
      - main
  # and on all pull requests to the main branch
  pull_request:
    branches:
      - main
  # as well as upon manual triggers through the 'Actions' tab of the Github UI
  workflow_dispatch:
  # Additionally, we run Monday morning 6AM, so that we can react quickly if things break
  schedule:
  - cron: "0 5 * * 1"


jobs:
  test:
    name: Testing on ${{ matrix.os }} with Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04, macos-10.15, windows-2019]
        python-version: [3.6, 3.7, 3.8]

    steps:
    - name: Checking out the cookie cutter repository
      uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install test requirements
      run: |
        python -m pip install -r requirements-dev.txt
    - name: Set up git identity
      run: |
        git config --global user.email "ssc@citestuser.com"
        git config --global user.name "SSC CI Test User"

    - name: Set up Windows git configuration
      if: runner.os == 'Windows'
      run: |
        git config --system core.longpaths true

    - name: Run regular test suite
      run: |
        python -m pytest
